@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap');

:root {
    --primario: #9c27b0;
    --primarioOcuro: #89119d;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches';
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*----- Globales ------*/
body {
    font-size: 1.6rem;
    background-color: var(--primario);
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/*------ Header -----*/
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/*------ Navegacion ------*/
.navegacion {
    background-color: var(--primarioOcuro);
    padding: 1.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    color: var(--blanco);
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/*---- Footer ------*/
.footer {
    padding: 1rem 0;
    margin-top: 2rem;
    background-color: var(--primarioOcuro);
}

.footer__texto {
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

/*----- Main ------*/

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.producto {
    border-radius: 1rem;
    background-color: var(--primarioOcuro);
    padding: 1rem;
    font-family: var(--fuentePrincipal);
}

.producto__imagen {
    width: 100%;
}

.producto__nombre {
    font-size: 3.5rem;
    color: var(--blanco);
}

.producto__precio {
    font-size: 3rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    margin: 1rem 0 0 0;
    text-align: center;
    line-height: 1.2;
}

/* Graficos */
.grafico {
    min-height: 30rem;
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/3;
}

.grafico--camisas {
    grid-row: 2/3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--nodejs {
    grid-row: 8 / 9;
    background-image: url(../img/grafico2.jpg);
}

/* -----------------------------------------------Sobre nosotros-------------------------------------------------------- */
.nosotros {
    display: grid;
}

.nosotros__imagen {
    grid-row: 1/2;
}

.nosotros__contenido--texto {
    color: var(--blanco);
    font-family: 'Archivo', Arial, Helvetica, sans-serif
}

/*-------- Bloques ----------*/
.bloques {
    font-family: 'Archivo', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.bloque__imagen {
    width: 70%;
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

.bloque p {
    color: var(--blanco);
}

/* -----------------------------------------------Productos-------------------------------------------------------- */
.camisa {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

/* Estilos del formulario */
.formulario {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1rem;
}

.formulario__submit {
    display: block;
    width: 100%;
    margin: 0 auto;
    order: 3;
}

.formulario__campo,
.formulario__submit {
    border-radius: .5rem;
}

.formulario__campo {
    background: transparent;
    text-align: center;
    font-size: 1.8rem;
    width: calc(50% - 0.5rem); /* Restamos el gap dividido entre dos */
    color: var(--blanco);
    padding: 0.8rem;
    border: .4rem solid var(--primarioOcuro);
    appearance: none;
}

.formulario__campo:first-child {
    /* Anchura de la Talla: 40% del total - la mitad del gap (0.5rem) */
    width: calc(40% - 0.5rem);
}

.formulario__campo:nth-child(2) {
    /* Anchura de la Cantidad: 60% del total - la mitad del gap (0.5rem) */
    width: calc(60% - 0.5rem);
}

.formulario__submit {
    font-family: var(--fuentePrincipal);
    background-color: var(--secundario);
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color .3s ease;
}

.formulario__submit:hover {
    background-color: var(--secundarioOscuro);
}



/* ----------Media Query---------- */
@media(min-width: 400px) {
    .formulario__campo {
        font-size: 1.9rem;
        padding: 1.2rem;
        border: .4rem solid var(--primarioOcuro);
    }
}



@media(min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grafico--nodejs {
        grid-row: 6/5;
        grid-column: 2/4;
    }

    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .nosotros__imagen {
        grid-row: inherit;
    }

    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }

    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .formulario__campo:first-child,
    .formulario__campo:nth-child(2) {
        width: auto;
    }

    .formulario {
        display: grid;
        /* Aquí volvemos a la configuración de dos columnas */
        grid-template-columns: 40% 60%;
        gap: 2rem;
        margin: 0;
    }



    .formulario__campo {
        font-size: 2rem;
        padding: 1.6rem;
        border: .4rem solid var(--primarioOcuro);
    }

    .formulario__submit {
        grid-column: 1/3;
    }
}